main {
    flex: 1; /* Make the main content expand to take up remaining space */
    padding: 20px;
    background-color:rgb(113, 193, 234);
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}

table, th, td{
    border: 2px solid black;
    margin-top: 10px;
}

    #customersupp {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        /* width: 50%; */
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 70px;
        margin-bottom: 120px;
      }
  
  #customersupp td, #user th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
  }
  
  #customersupp:nth-child(even){background-color: #4bb858;}
  
  #customersupp tr:hover {background-color: #8b7979;}
  
  #customersupp th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    
    background-color:goldenrod;

    color: whitesmoke;
  }

  .submit{
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
    position:relative;
    left:5%;
    border-radius: 21px;
    width: 115px;
    font-size: 19px;
    background-color: #E3E6F3;
    cursor: pointer;
}

.submit:hover{
	background-color:rgb(0, 119, 255);
	color:white;
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

  footer {
    
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
    /* Make the footer stay at the bottom */
    position: relative;
    
}