main {
    flex: 1; /* Make the main content expand to take up remaining space */
    padding: 20px;
    background-color:rgb(52, 133, 165);
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
    /* Make the footer stay at the bottom */
    position: relative;
    
}


.submit{
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
    position:relative;
    left:5%;
    border-radius: 21px;
    width: 115px;
    font-size: 19px;
    background-color: #E3E6F3;
    cursor: pointer;
}

.submit:hover{
	background-color:red;
	color:white;
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

table, th, td{
    border: 2px solid black;
    margin-top: 10px;
}

    #user {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        /* width: 50%; */
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 70px;
        margin-bottom: 120px;
      }
  
  #user td, #user th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #user tr:nth-child(even){background-color: #f2f2f2;}
  
  #user tr:hover {background-color: #ddd;}
  
  #user th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:aliceblue;

    color:black;
  }

  .selectbox{
    width: 70px;
    height: 35px;
  }