
main {
    flex: 1; /* Make the main content expand to take up remaining space */
    padding: 20px;
    background-color:lightskyblue;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
    /* Make the footer stay at the bottom */
    position: relative;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

main {
    padding: 40px 20px;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}

.plans-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    width: 900px;
    height: 300;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    overflow: hidden;
    border: 1px solid #ddd;
    text-align: left;
    padding: 15px;
}

.featured-plan {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
    
}
.featured-plan img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.featured-plan img {
 
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.plan-details {
    text-align: left;
}

.plan-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.plan-details p {
    color: #666;
    margin-bottom: 20px;
}

.read-more {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: inline-block;
}

.read-more span {
    font-size: 18px;
}

.other-plans {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.plan-card {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
}

.plan-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.plan-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.img{
   height: 5px;
   width: 2;
}

.plan-card:hover{
    transform: translateY(-10px); /* Moves the item 10px up */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adds a stronger shadow when hovering */
}
.featured-plan:hover{
    transform: translateY(-10px); /* Moves the item 10px up */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adds a stronger shadow when hovering */

}



