main {
    flex: 1; /* Make the main content expand to take up remaining space */
    padding: 20px;
    
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
    /* Make the footer stay at the bottom */
    position: relative;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: azure;
    background:url('../images/healthwalll.jpg');
    background-size: cover;
    background-position: center;/* Centers the image in the container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed;
    position: relative;
    color: white; /* Ensure text is visible on the darker overlay */
    height: 1000px;
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: -1; /* Ensure it stays behind the text */
}



.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

main {
    padding: 20px;
}

.about h1 {
    text-align: center;
    margin-bottom: 20px;
    color: chartreuse;
}

h1,h2:hover{
    color:lightcoral;
}





.info-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.info-block h2 {
    margin-bottom: 10px;
}

.info-block p {
    margin-bottom: 15px;
}


.award{
    width: 100px;
    height: 100px;
    mix-blend-mode: multiply;/*removes the white background from an image*/
   
}
